<h1>{{title}}</h1>
<div class="container-fluid">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" routerlink="/users" data-toggle="tab" href="#users" role="tab" aria-controls="home" aria-selected="true">Users</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <router-outlet></router-outlet>
  </div>
</div>
