<h2>My Users(click on one of them to see more details)</h2>
<input type="button" value="add Users" (click)="onClick()">
<ul class="users">
  <li *ngFor="let user of users" (click)="onSelect(user)">
    <span class="badge">{{user.id}}</span> {{user.name}}
  </li>
</ul>
<h2>{{user.name | uppercase}}'s Details</h2>
<div><span>id: </span>{{user.id}}</div>
<div>
  <label for="name">User's name: </label>
  <div>{{user.name}}</div>
  <label for="name">User's age: </label>
  <div>{{user.age}}</div>
  <label for="name">User's email: </label>
  <div>{{user.email}}</div>
</div>
